---
import Layout from '@/layouts/Layout.astro';
import { pages } from '@/data/site.json';
import { Link } from '@/components/ui/link';

const { title, description, name } = pages[404];
---

<Layout title={title} description={description}>
  <section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div class="flex flex-col gap-4 sm:gap-6">
          <h1
            class="flex flex-col bg-gradient-to-br from-caramel-600 to-caramel-300 bg-clip-text font-mono text-caramel text-transparent"
          >
            <span class="text-4xl font-bold leading-none tracking-tighter">{name}</span>
            <span class="text-xl font-bold leading-none tracking-tight">{title}</span>
          </h1>
          <p class="text-caramel-100">{description}</p>
        </div>
        <div class="flex gap-4">
          <Link
            href="javascript:history.back()"
            variant="button"
            theme="secondary"
            className="group flex gap-1"
          >
            <span class="transition-transform duration-300 group-hover:-translate-x-1">&larr;</span
            ><span>Go back</span>
          </Link>
          <Link
            href={pages.HOME.href}
            variant="button"
            theme="primary"
            className="group flex gap-1"
          >
            <span>Go home</span><span
              class="transition-transform duration-300 group-hover:translate-x-1">&rarr;</span
            >
          </Link>
        </div>
      </div>
    </div>
  </section>
</Layout>
